<div
  class="relative flex flex-col w-full min-w-0 mb-6 break-words bg-white border-0 rounded-lg shadow-lg"
>
  <div class="px-6 py-6 mb-0 bg-white rounded-t">
    <div class="flex justify-between text-center">
      <h6 class="text-xl font-bold text-blueGray-700">Gerenciar Tasks</h6>
    </div>
  </div>
  <div class="relative flex-auto px-4 py-10 pt-0 lg:px-10">
    <div class="flex justify-end w-full my-0">
      <button
        class="px-4 py-2 mr-1 text-xs font-bold text-white uppercase transition-all duration-150 ease-linear bg-red-600 rounded shadow outline-none active:bg-red-700 hover:shadow-md focus:outline-none"
        type="button"
        (click)="showModalAdd.emit(true)"
      >
        Adicionar Task
      </button>
    </div>
    <h6 class="mt-3 mb-6 text-sm font-bold uppercase text-blueGray-400">
      Tasks Adicionadas
    </h6>
    <div class="w-full">
      <app-card-table
        [isTaskManager]="true"
        (editTask)="editTask.emit($event)"
        (removeTask)="removeTask.emit($event)"
        [tasks]="tasks"
      ></app-card-table>
    </div>
  </div>
</div>
