<div
  class="relative flex flex-col min-w-0 mb-6 break-words bg-white rounded shadow-lg xl:mb-0"
>
  <div class="flex-auto p-4">
    <div class="flex flex-wrap">
      <div class="relative flex-1 flex-grow w-full max-w-full pr-4">
        <h5 class="text-xs font-bold uppercase text-slate-400">
          {{ statSubtitle }}
        </h5>
        <span class="text-xl font-semibold text-slate-700">
          {{ statTitle }}
        </span>
      </div>
      <div class="relative flex-initial w-auto pl-4">
        <div
          class="inline-flex items-center justify-center w-12 h-12 p-3 text-center text-white rounded-full shadow-lg"
          [ngClass]="[statIconColor]"
        >
          <i [ngClass]="statIconName"></i>
        </div>
      </div>
    </div>
    <p class="mt-4 text-sm text-slate-400">
      <span class="mr-2" [ngClass]="statPercentColor" *ngIf="statPercent">
        <i
          [ngClass]="
            statArrow === 'up' ? 'fas fa-arrow-up' : 'fas fa-arrow-down'
          "
        ></i>
        {{ statPercent }}%
      </span>
      <span class="whitespace-nowrap">{{ statDescripiron }}</span>
    </p>
  </div>
</div>
