<nav
  class="relative z-10 flex flex-wrap items-center justify-between px-6 py-4 bg-white shadow-xl md:left-0 md:block md:fixed md:top-0 md:bottom-0 md:overflow-y-auto md:flex-row md:flex-nowrap md:overflow-hidden md:w-64"
>
  <div
    class="flex flex-wrap items-center justify-between w-full px-0 mx-auto md:flex-col md:items-stretch md:min-h-full md:flex-nowrap"
  >
    <!-- Toggler -->
    <button
      class="px-3 py-1 text-xl leading-none text-black bg-transparent border border-transparent border-solid rounded opacity-50 cursor-pointer md:hidden"
      type="button"
      (click)="toggleCollapseShow('bg-white m-2 py-3 px-6')"
    >
      <i class="fas fa-bars"></i>
    </button>
    <!-- Brand -->
    <a
      [routerLink]="['/']"
      class="inline-block p-4 px-0 mr-0 text-sm font-bold text-left uppercase md:block md:pb-2 text-slate-600 whitespace-nowrap"
    >
      <span class="block"> Entrega OFs </span>
    </a>
    <!-- Collapse -->
    <div
      class="absolute top-0 left-0 right-0 z-40 items-center flex-1 h-auto overflow-x-hidden overflow-y-auto rounded shadow md:flex md:flex-col md:items-stretch md:opacity-100 md:relative md:mt-4 md:shadow-none"
      [ngClass]="collapseShow"
    >
      <!-- Collapse header -->
      <div
        class="block pb-4 mb-4 border-b border-solid md:min-w-full md:hidden border-slate-200"
      >
        <div class="flex flex-wrap">
          <div class="w-6/12">
            <a
              [routerLink]="['/']"
              class="inline-block p-4 px-0 mr-0 text-sm font-bold text-left uppercase md:block md:pb-2 text-slate-600 whitespace-nowrap"
            >
              Entrega OFs
            </a>
          </div>
          <div class="flex justify-end w-6/12">
            <button
              type="button"
              class="px-3 py-1 text-xl leading-none text-black bg-transparent border border-transparent border-solid rounded opacity-50 cursor-pointer md:hidden"
              (click)="toggleCollapseShow('hidden')"
            >
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Divider -->
      <hr class="my-4 md:min-w-full" />
      <!-- Heading -->
      <h6
        class="block pt-1 pb-4 text-xs font-bold no-underline uppercase md:min-w-full text-slate-500"
      >
        Páginas
      </h6>
      <!-- Navigation -->

      <ul class="flex flex-col list-none md:flex-col md:min-w-full">
        <li class="items-center">
          <a
            [routerLink]="['/dash']"
            class="block py-3 text-xs font-bold uppercase"
            routerLinkActive
            #adminDashboard="routerLinkActive"
            [ngClass]="
              adminDashboard.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-slate-700 hover:text-slate-500'
            "
          >
            <i
              class="mr-2 text-sm fas fa-tv"
              [ngClass]="
                adminDashboard.isActive ? 'opacity-75' : 'text-slate-300'
              "
            ></i>
            Dashboard
          </a>
        </li>

        <li class="items-center">
          <a
            [routerLink]="['/settings']"
            class="block py-3 text-xs font-bold uppercase"
            routerLinkActive
            #adminSettings="routerLinkActive"
            [ngClass]="
              adminSettings.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-slate-700 hover:text-slate-500'
            "
          >
            <i
              class="mr-2 text-sm fas fa-tools"
              [ngClass]="
                adminSettings.isActive ? 'opacity-75' : 'text-slate-300'
              "
            ></i>
            Configurações
          </a>
        </li>

        <li class="items-center">
          <a
            [routerLink]="['/tasks']"
            class="block py-3 text-xs font-bold uppercase"
            routerLinkActive
            #adminTables="routerLinkActive"
            [ngClass]="
              adminTables.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-slate-700 hover:text-slate-500'
            "
          >
            <i
              class="mr-2 text-sm fas fa-table"
              [ngClass]="
                adminTables.isActive ? 'opacity-75' : 'text-slate-300'
              "
            ></i>
            Gerenciar Tasks
          </a>
        </li>

        <li class="items-center">
          <a
            [routerLink]="['/reports']"
            class="block py-3 text-xs font-bold uppercase"
            routerLinkActive
            #reports="routerLinkActive"
            [ngClass]="
              reports.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-slate-700 hover:text-slate-500'
            "
          >
            <i
              class="mr-2 text-sm fas fa-newspaper"
              [ngClass]="
                reports.isActive ? 'opacity-75' : 'text-slate-300'
              "
            ></i>
            Relatórios
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
